<?php
/**
 * @var $block \Linets\DeliveryTime\Block\Adminhtml\Order\View\
 */
?>

<div>
    <div class="admin__page-section-title">
        <span class="title">Delivery Time</span>
    </div>
    <div class="admin__page-section-content">
        <h3>Promise:<?php echo $block->getPromise()['date']; ?></h3>
        <h3>Delivery Days:<?php echo $block->getPromise()['days']; ?></h3>
    </div>
</div>
