<div class="checkout-block" id="block-custom">
    <H2><dt class="label" translate="'Promise Time'"></dt></H2>
    <div class="component-wrapper">
        <ul data-bind="foreach: items()">
            <li>
            <span data-bind="text: shipping_method"></span> - <span data-bind="text: delivery_day"></span> days - arrive <span data-bind="text: arrives"> </span>
            <input data-bind="attr: { id:shipping_method + '_delivery_day' }, value:delivery_day" style="display:none">
            <input data-bind="attr: { id:shipping_method + '_promise_day' }, value:arrives" style="display:none">
            </li>
        </ul>
    </div>
</div>
